* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
a,
li {
  text-decoration: none;
  color: var(--white);
  list-style: none;
}

:root {
  /* Colors: */
  --purple: #7c0fd5;
  --prple: #8b0dd9;
  --lightblue: #578efa;
  --navyblue: #1e232c;
  --pink: #ff00f7;
  --black: #000000;
  --white: #ffffff;
  --blue: #271ac1;
  --grey: #707070;
}
